.container {
    display: flex;
    justify-content: space-between;
  }
  
  .group-left {
    width: 40%;
    padding: 20px;
  }
  
  .group-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  
  .group {
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 10px;
    min-height: 100px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .group h2,
  .group h3 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
  }
  
  .item {
    margin: 5px;
    padding: 8px;
    background-color: #e0e0e0;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    width: 100%; 
  }
  
  .item div {
    width: 100%;
    /* Additional styling for the text container */
  }
  
  
  .item:hover {
    background-color: #d0d0d0;
  }
  

  .pool-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns for Name, Experience, Year */
    /* Adjust column sizes or add more columns as needed */
  }
  
  .label {
    /* Styles for column labels */
    text-align: center; /* Align labels in the center */
  }

  .label-row {
    display: flex;
    justify-content: space-between; /* Adjust alignment as needed */
    /* Optionally, you can add more styles like padding, margin, etc. */
  }

  .item-text {
    display: flex;
    justify-content: space-between;
    /* Additional styling for the item text container */
  }
  
  .word-left {
    flex: 1;
    text-align: left;
    /* Additional styling for the left-aligned word */
  }
  
  .word-center {
    flex: 1;
    text-align: center;
    /* Additional styling for the center-aligned word */
  }
  
  .word-right {
    flex: 1;
    text-align: right;
    /* Additional styling for the right-aligned word */
  }